#index-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.title-text{
  font-size: 72px;
  -webkit-text-stroke: 3px #f1f1f1;
}

#auth-btn {
  border-bottom: 3px solid transparent;
}

#auth-btn:hover {
  border-bottom: 3px solid red;
}

.content {
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
