.container {
  background-color: #edede9;
  min-height: 600px;
}

.carousel .carousel-control {
  opacity: 0;
}

.carousel:hover .carousel-control {
  opacity: 1;
}

.carousel .carousel-indicators {
  opacity: 0;
}

.carousel:hover .carousel-indicators {
  opacity: 1;
}

.carousel-control-icon {
  scale: 2;
}

a {
  text-decoration: none;
}
#category{
  color: #e85d04;
}

#gameTitleIcon {
  width: 50%;
}

.carousel-item{
  width: 100%;
  height: 500px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .carousel-item{
    height: 250px;
  }
}
.carousel-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
